
    <br>
    <br>
    <br>

    <!-- contact section-->
    <a href="/home"><img src="assets/images/logo2.jpg" alt="logo" id="logo"></a>
    <form class="row g-3">
      <h1 id="frm-title">Contact me</h1>
      <div class="col-md-6">
        <label for="inputEmail4" class="form-label" id="lbl-first">First Name:</label>
        <input type="email" class="form-control" id="inputEmail4">
      </div>
      <div class="col-md-6">
        <label for="inputPassword4" class="form-label">Last Name:</label>
        <input type="password" class="form-control" id="inputPassword4">
      </div>
      <div class="col-md-6">
        <label for="inputAddress" class="form-label" id="lbl-email">Email:</label>
        <input type="text" class="form-control" id="inputAddress">
      </div>
      <div class="col-md-6">
        <label for="inputCity" class="form-label">Phone Number:</label>
        <input type="text" class="form-control" id="inputCity">
      </div>
      <div class="col-12">
        <label for="inputZip" class="form-label" id="lbl-text">Project Details:</label>
        <textarea rows="6" class="form-control" id="inputZip"></textarea>
      </div>
      <div class="col-12">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="gridCheck">
          <label class="form-check-label" for="gridCheck" id="lbl-check">Remember me</label>
        </div>
      </div>
      <div class="col-12">
        <button type="submit" class="btn btn-primary" id="btn-submit">Submit</button>
      </div>
    </form> <br> <br> <br> <br> <br> 
    <!--<h2 id="contact-head">Stay in touch</h2> <br>-->
    <div>
      <img src="assets/images/smartphone.png" alt="mob-icon" id="mob-icon">
      <p id="tel">+ 1 (416) 555 555 5</p>
      <img src="assets/images/email.png" alt="mail-icon" id="email-icon">
      <p id="em">afadeeva@centennial.com</p>
    </div>