<br>
<br>
<br>

<!-- services section-->
<section id="services">
    <a href="/home"><img src="assets/images/logo2.jpg" alt="logo" id="logo"></a>
    <div class="container">
        <h1 class="text-center">Services</h1>
        <div class="row">
            <div class="col-lg-4 mt-4">
                <div class="card servicesText">
                    <div class="card-body">
                        <img src="assets/images/data.png" alt="pic1" id="web-dev">
                        <h4 class="card-title mt-3">Website Development</h4>
                        <p class="card-text mt-3">Some quick example text to build on the card title and make up the bulk of the card's content.
                            Some quick example text to build on the card title and make up the bulk of the card's content.
                        </p>
                    </div>
                </div>  
            </div>
            <div class="col-lg-4 mt-4">
                <div class="card servicesText">
                    <div class="card-body">
                        <img src="assets/images/ux-design.png" alt="pic2" id="web-dev">
                        <h4 class="card-title mt-3">Website Design</h4>
                        <p class="card-text mt-3">Some quick example text to build on the card title and make up the bulk of the card's content.
                            Some quick example text to build on the card title and make up the bulk of the card's content.
                        </p>
                    </div>
                </div>  
            </div>

            <div class="col-lg-4 mt-4">
                <div class="card servicesText">
                    <div class="card-body">
                        <img src="assets/images/file-upload.png" alt="pic2" id="web-dev">
                        <h4 class="card-title mt-3">Website Deployment</h4>
                        <p class="card-text mt-3">Some quick example text to build on the card title and make up the bulk of the card's content.
                            Some quick example text to build on the card title and make up the bulk of the card's content.
                        </p>
                    </div>
                </div>  
            </div>
        </div>
        </div>
    </div>
</section> <br> <br> <br>
<button type="button" class="btn btn-outline-dark" id="contact-btn"><a href="/contact" id="abt-link">My Contacts &rarr;</a></button>