/* Custom CSS goes here */

/* Home page */
.bgimage {
  height:100vh;
  background: url('assets/images/cover.jpg');
  background-size:cover;
  position:relative;
}
/* text css above hero image*/
.hero_title {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  font-size: 4.5rem;
  margin-left: 700px;
  margin-top: 250px;
}
.hero_desc {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 2rem;
  margin-left: 700px;
  margin-top: 20px;
}
#abt-btn {
  margin-top: 20px;
  margin-left: 850px;
}
#abt-link {
  text-decoration: none;
  color: black; 
}
#abt-link:hover {color:aliceblue;}

#logo {
  width: 150px;
  height: 120px;
  border-radius: 50%;
}



/* About me  */
.imageAboutPage {
  width: 100%;
  border-radius: 50%;
}
p {text-align: justify;}

.mst {font-style: italic;}

.msthead {margin-left: 210px;}

#abt {margin-left: 310px;}

#btn-cv {margin-left: 260px;}

#prj-btn {margin-left: 300px;}

/* Services */
.servicesText.card {
  height: 280px;
  cursor: pointer;
}
.servicesIcon {
  font-size: 36px;
  text-align: center;
  width: 100%;
}
.card-title {
  text-align: center;
}
.card:hover .servicesIcon {
  color: #008000;
}
.servicesText:hover {
  border: 1px solid #008000;
}

/* Projects */
#srv-btn {margin-left: 550px;}

#brain-games-pic {
  width: 60%;
  margin-left: 80px;
}
#portfolio-pic {
  width: 60%;
  margin-left: 80px;
}
#calc-pic {
  width: 60%;
  margin-left: 80px;
}

/* Contact */

#frm-title { margin-left: 860px;}
#inputEmail4 { 
  width: 30%; 
  margin-left: 600px;
}
#lbl-first { margin-left: 600px; }
#inputPassword4 { width: 30%;}
#inputAddress { 
  width: 30%; 
  margin-left: 600px;
}
#lbl-email {margin-left: 600px;}
#inputCity { width: 30%; }
#inputZip { 
  width: 37%; 
  margin-left: 600px;
}
#lbl-text {margin-left: 600px;}
#gridCheck {margin-left: 580px;}
#lbl-check {margin-left: 5px;}
#btn-submit {margin-left: 600px;}
#contact-head {margin-left: 860px;}
#mob-icon {
  width: 40px;
  height: 50px;
  margin-left:700px;
}
#tel {
  margin-left: 10px;
  display: inline-block;
  font-weight: 600;
}
#email-icon {
  width: 45px;
  height: 50px;
  margin-left:100px;
}
#em {
  margin-left: 10px;
  display: inline-block;
  font-weight: 600;
}


